In [1]:
#IMPORTING REQUIRED LIBRARIES
    
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#FOR MARKET BASKET ANALYSIS
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [29]:
import warnings
warnings.simplefilter('ignore')

In [28]:
#IMPORTING DATASET
dataset = pd.read_excel('Online Retail.xlsx')

In [6]:
dataset.head()

  InvoiceNo StockCode                          Description  ...  UnitPrice CustomerID         Country
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER  ...       2.55    17850.0  United Kingdom
1    536365     71053                  WHITE METAL LANTERN  ...       3.39    17850.0  United Kingdom
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER  ...       2.75    17850.0  United Kingdom
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE  ...       3.39    17850.0  United Kingdom
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.  ...       3.39    17850.0  United Kingdom

[5 rows x 8 columns]

# First Observations

In [137]:
# Shape of the data
dataset.shape

(541909, 8)

In [136]:
#Info of the data
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  int64
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 33.1+ MB

In [135]:
#Missing values in the data
dataset.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [134]:
#Number of unique values in each variable
dataset.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate        2
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

# Data Preprocesssing

In the data there are some invoice that are 'CREDITS' rather of 'DEBITS'.
So we want to remove them. They are identified with 'C' in the Inovice field.

In [18]:
dataset['InvocieNo'] = dataset['InvoiceNo'].astype('str')

In [23]:
data = dataset[~dataset['InvoiceNo'].str.contains('C',na=False)]

In [30]:
#Filling the missing values
data['CustomerID'] = data['CustomerID'].fillna('000000')
data['Description'] = data['Description'].fillna('Unknown')

In [133]:
dataset['InvoiceDate']

0         2010
1         2010
2         2010
3         2010
4         2010
          ...
541904    2011
541905    2011
541906    2011
541907    2011
541908    2011
Name: InvoiceDate, Length: 541909, dtype: int64

# Feature Engineering

We add column with an Year, Month, Hour, Month_Year of each transaction

In [43]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'],errors='coerce')
data['Year'] = data['InvoiceDate'].dt.year
data['Month'] = data['InvoiceDate'].dt.month
data['Hour'] = data['InvoiceDate'].dt.hour
data['Month_Year'] = pd.to_datetime(data['InvoiceDate']).dt.to_period('M')

In [46]:
# Creating Income Field by using existing fields
data['Income'] = round(data['Quantity'] * data['UnitPrice'],2)

# Exploratory Data Analysis (EDA)

In [132]:
#Stock code

Products = data['StockCode'].nunique()
Products

4059

In [138]:
#Number of unique products ordered by customers

Product_group = data[['CustomerID','StockCode']].groupby('CustomerID').count().sort_values('StockCode',ascending=False,axis=0)
Product_group

            StockCode
CustomerID
000000         134697
17841.0          7847
14911.0          5677
14096.0          5111
12748.0          4596
...               ...
17925.0             1
15823.0             1
15802.0             1
13302.0             1
12346.0             1

[4340 rows x 1 columns]

In [52]:
#Country
#List of unqiue countries

data['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Bahrain', 'Israel', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [139]:
#Number of Unique orders by country
country_group = data[['Country','InvoiceNo']].groupby('Country').count().sort_values('InvoiceNo',axis=0,ascending=False)
country_group

                      InvoiceNo
Country
United Kingdom           487622
Germany                    9042
France                     8408
EIRE                       7894
Spain                      2485
Netherlands                2363
Belgium                    2031
Switzerland                1967
Portugal                   1501
Australia                  1185
Norway                     1072
Italy                       758
Channel Islands             748
Finland                     685
Cyprus                      614
Sweden                      451
Unspecified                 446
Austria                     398
Denmark                     380
Poland                      330
Japan                       321
Israel                      295
Hong Kong                   284
Singapore                   222
Iceland                     182
USA                         179
Canada                      151
Greece                      145
Malta                       112
United Arab Emirates         68
European Community           60
RSA                          58
Lebanon                      45
Lithuania                    35
Brazil                       32
Czech Republic               25
Bahrain                      18
Saudi Arabia                  9

In [57]:
#Description of the products

data['Description'].unique()

array(['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER', ..., 'lost',
       'CREAM HANGING HEART T-LIGHT HOLDER',
       'PAPER CRAFT , LITTLE BIRDIE'], dtype=object)

In [140]:
Desc = data['Description'].value_counts()
Desc

WHITE HANGING HEART T-LIGHT HOLDER    2327
JUMBO BAG RED RETROSPOT               2115
REGENCY CAKESTAND 3 TIER              2019
PARTY BUNTING                         1707
LUNCH BAG RED RETROSPOT               1594
                                      ...
PINK PAINTED KASHMIRI CHAIR              1
WHITE FRANGIPANI HAIR CLIP               1
ENAMEL MUG PANTRY                        1
WHITE DOVE HONEYCOMB PAPER GARLAND       1
DOORKNOB CERAMIC IVORY                   1
Name: Description, Length: 4208, dtype: int64

In [141]:
#The customers who generated most orders

Customer_group = data[['CustomerID','InvoiceNo']].groupby('CustomerID').count().sort_values('InvoiceNo',axis=0,ascending=False)
Customer_group

            InvoiceNo
CustomerID
000000         134697
17841.0          7847
14911.0          5677
14096.0          5111
12748.0          4596
...               ...
17925.0             1
15823.0             1
15802.0             1
13302.0             1
12346.0             1

[4340 rows x 1 columns]

# Analyzing KPIs

We check which country generates the most revenues.

In [72]:
Country_Income = data[['Country','Income']].groupby('Country').sum().sort_values('Income',axis=0,ascending=False)
Country_Income

                            Income
Country
United Kingdom        9.003098e+06
Netherlands           2.854463e+05
EIRE                  2.834540e+05
Germany               2.288671e+05
France                2.097151e+05
Australia             1.385213e+05
Spain                 6.157711e+04
Switzerland           5.708990e+04
Belgium               4.119634e+04
Sweden                3.837833e+04
Japan                 3.741637e+04
Norway                3.616544e+04
Portugal              3.374710e+04
Finland               2.254608e+04
Singapore             2.127929e+04
Channel Islands       2.045044e+04
Denmark               1.895534e+04
Italy                 1.748324e+04
Hong Kong             1.569180e+04
Cyprus                1.359038e+04
Austria               1.019868e+04
Israel                8.135260e+03
Poland                7.334650e+03
Greece                4.760520e+03
Unspecified           4.749790e+03
Iceland               4.310000e+03
Canada                3.666380e+03
USA                   3.580390e+03
Malta                 2.725590e+03
United Arab Emirates  1.902280e+03
Lebanon               1.693880e+03
Lithuania             1.661060e+03
European Community    1.300250e+03
Brazil                1.143600e+03
RSA                   1.002310e+03
Czech Republic        8.267400e+02
Bahrain               7.541400e+02
Saudi Arabia          1.459200e+02

In [142]:
# Which product generates the most revenue

Product_Income = data.groupby('Description')['Income'].sum().sort_values(ascending=False)
Product_Income

Description
DOTCOM POSTAGE                         206248.77
REGENCY CAKESTAND 3 TIER               174484.74
PAPER CRAFT , LITTLE BIRDIE            168469.60
WHITE HANGING HEART T-LIGHT HOLDER     106292.77
PARTY BUNTING                           99504.33
                                         ...
Wrongly mrked had 85123a in box             0.00
add stock to allocate online orders         0.00
adjust                                      0.00
wrongly sold sets                           0.00
Adjust bad debt                        -11062.06
Name: Income, Length: 4208, dtype: float64

In [143]:
#Annual Income

Annual_Income = data[['Year','Income']].groupby('Year').sum().sort_values('Income',axis=0,ascending=False)
Annual_Income

            Income
Year
2011  9.820814e+06
2010  8.237461e+05

In [144]:
#Monthly Income
Monthly_Income = data[['Month_Year','Income']].groupby('Month_Year').sum()
Monthly_Income

                Income
Month_Year
2010-12      823746.14
2011-01      691364.56
2011-02      523631.89
2011-03      717639.36
2011-04      537808.62
2011-05      770536.02
2011-06      761739.90
2011-07      719221.19
2011-08      737014.26
2011-09     1058590.17
2011-10     1154979.30
2011-11     1509496.33
2011-12      638792.68

# Basket Analysis using Aprior Algorithm:

In [87]:
#Further Analysis, We choose transactions from only one country, we choose Netherlands

Data = data[data['Country'] == 'Netherlands']

In [96]:
#We modify the table with data in such way that each transaction is written in one line

basket = Data.groupby(['InvoiceNo','Description'])['Quantity'].sum().unstack().fillna(0)
basket

Description   DOLLY GIRL BEAKER  ...  ZINC WILLIE WINKIE  CANDLE STICK
InvoiceNo                        ...
536403                      0.0  ...                               0.0
539491                      0.0  ...                               0.0
539731                      0.0  ...                               0.0
541206                      0.0  ...                               0.0
541570                      0.0  ...                               0.0
...                         ...  ...                               ...
578143                      0.0  ...                               0.0
579528                      0.0  ...                               0.0
581175                      0.0  ...                               0.0
581176                      0.0  ...                               0.0
581338                      0.0  ...                               0.0

[95 rows x 803 columns]

Next we modify the table in such a way that the presence of product in basket 
means 1 and the lack of product means 0

In [97]:
#Model

basket_model = basket.applymap(lambda x:1 if x > 0 else 0)

In [145]:
#In this case we set min_support = 0.08

popular_sets = apriori(basket_model,min_support=0.08,use_colnames=True)
popular_sets

      support                                           itemsets
0    0.105263                   (72 SWEETHEART FAIRY CAKE CASES)
1    0.094737                             (CARD BIRTHDAY COWBOY)
2    0.126316                                 (CARD DOLLY GIRL )
3    0.094737                               (CARD GINGHAM ROSE )
4    0.084211                      (CHARLOTTE BAG APPLES DESIGN)
..        ...                                                ...
199  0.084211  (DOLLY GIRL LUNCH BOX, SPACEBOY LUNCH BOX , SP...
200  0.084211  (DOLLY GIRL LUNCH BOX, SPACEBOY LUNCH BOX , ST...
201  0.084211  (DOLLY GIRL LUNCH BOX, SPACEBOY LUNCH BOX , WO...
202  0.084211  (DOLLY GIRL LUNCH BOX, SPACEBOY LUNCH BOX , ST...
203  0.084211  (SPACEBOY BIRTHDAY CARD, PLASTERS IN TIN SPACE...

[204 rows x 2 columns]

In [101]:
rules = association_rules(popular_sets,metric='lift',min_threshold=1)

In [107]:
rules[(rules['lift'] >= 5) & (rules['confidence'] >= 1)]

                                           antecedents  ... conviction
108                   (PACK OF 60 MUSHROOM CAKE CASES)  ...        inf
330  (PLASTERS IN TIN SPACEBOY, LUNCH BAG RED RETRO...  ...        inf
332  (LUNCH BAG RED RETROSPOT, SPACEBOY BIRTHDAY CARD)  ...        inf
473   (DOLLY GIRL LUNCH BOX, PLASTERS IN TIN SPACEBOY)  ...        inf
487  (DOLLY GIRL LUNCH BOX, RED RETROSPOT CHARLOTTE...  ...        inf
489  (SPACEBOY LUNCH BOX , RED RETROSPOT CHARLOTTE ...  ...        inf
515     (DOLLY GIRL LUNCH BOX, SPACEBOY BIRTHDAY CARD)  ...        inf
568  (LUNCH BAG RED RETROSPOT, ROUND SNACK BOXES SE...  ...        inf
569  (PLASTERS IN TIN SPACEBOY, LUNCH BAG RED RETRO...  ...        inf
571  (LUNCH BAG RED RETROSPOT, SPACEBOY BIRTHDAY CARD)  ...        inf
573  (PLASTERS IN TIN SPACEBOY, LUNCH BAG RED RETRO...  ...        inf

[11 rows x 9 columns]

# Recommendations

In [146]:
rules['antecedents'][332]

frozenset({'LUNCH BAG RED RETROSPOT', 'SPACEBOY BIRTHDAY CARD'})

In [147]:
basket_model['SPACEBOY BIRTHDAY CARD'].sum()

17

In [148]:
basket_model['LUNCH BAG RED RETROSPOT'].sum()

10

In [149]:
basket_model['PLASTERS IN TIN SPACEBOY'].sum()

12

# At this point, you can see how great the possibilities are to use the popularity of one product to increase the sales of another. 
For example we see that 17 SPACEBOY BIRTHDAY CARD have been sold, but only sold 12 PLASTERS IN TIN SPACEBOY. 
So if we compare one item with another, it may allow for increasing the sale of the other one. 
And through this it will be possible to increase sales, for example, PLASTERS IN TIN SPACEBOY.